@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

#container {
  width: 500px;
  margin: auto;
}

#linkBack {
  position:absolute;
  right: 0px;
  top: 0px;
  margin: 10px;
  padding: 15px;
}

.p {
  text-align: center;
  font-size: 7em;
  margin: 90px 0 80px -240px;
}

.a {
  text-decoration: none;
  transition: all 0.5s;
}

.p:nth-child(1), .a {
  color: #fff;
  font-family: 'Monoton', cursive;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.p:nth-child(1), .a:hover {
  color: #667070;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.p, .a:hover {
  color: #667070;
  text-decoration: none;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #667070, 0 0 70px #667070, 0 0 80px #667070, 0 0 100px #667070, 0 0 150px #667070;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #667070, 0 0 35px #667070, 0 0 40px #667070, 0 0 50px #667070, 0 0 75px #667070;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #667070, 0 0 70px #667070, 0 0 80px #667070, 0 0 100px #667070, 0 0 150px #667070;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #667070, 0 0 35px #667070, 0 0 40px #667070, 0 0 50px #667070, 0 0 75px #667070;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #667070, 0 0 70px #667070, 0 0 80px #667070, 0 0 100px #667070, 0 0 150px #667070;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #667070, 0 0 35px #667070, 0 0 40px #667070, 0 0 50px #667070, 0 0 75px #667070;
  }
}

@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  .p {
    font-size: 3.5em;
  }
}